---
import '@fontsource-variable/inter';
import '@fontsource-variable/source-code-pro';
import '@styles/globals.css';

const { data } = Astro.props;
---
<!doctype html>
<html data-content-type={data.content_type}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{data.head_title}</title>
	</head>
	<body class="
		flex flex-col items-center grow
		h-dvh w-dvw
		bg-background dark:bg-dot-white/[0.1] bg-dot-black/[0.1]
		text-foreground
	">
		<slot />
	</body >
</html>

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};

	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
	document.documentElement.setAttribute('data-color-scheme', isDark  ? 'dark' : 'light');

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<script is:inline>
	const type = document.documentElement.getAttribute('data-content-type');
	const url = new URL(document.location);
	const params = url.searchParams;

	if (type === 'cv') {
		const cl = params.get('cl');
		if (cl) {
			const element = document.getElementById('tabs-cl-link');
			element.setAttribute('href', `/content/${cl}`);
		}
	}

	if (type === 'cl') {
		const element = document.getElementById('tabs-cv-link');
		const segments = url.pathname.split('/');
		const cl = segments[segments.length - 1];
		if (cl) element.setAttribute('href', `/content/cv?cl=${cl}`);
	}
</script>